extends layout

block content
	include datepicker.html
	#delivery.container
		#delivery-wrapper
			h1 Please enter your shipping info
			p.lead We treat your coffee like gold. Like black gold (not Texas tea). It will be shipped safely and is guarenteed.
			form(role='form', action="/delivery",method="post")
				#delivery-address-form-wrapper
					.form-inner
						h2 Address
						.form-group.form-lg
							label.control-label Full Name
							.controls
								input.form-control(id="full-name" name="fullName" type="text" placeholder="Full Name" value=fullName)
								p.help-block Full Name
						.form-group.form-lg
							label.control-label Address Line 1
							.controls
								input.form-control(id="address-line1" name="address1" type="text" placeholder="Address Line 1" value=address1)
								p.help-block Street address, P.O. box, company name, c/o
						.form-group.form-lg
							label.control-label Address Line 2
							.controls
								input.form-control(id="address-line2" name="address2" type="text" placeholder="Address Line 2" value=address2)
								p.help-block Apartment, suite , unit, building, floor, etc.
						.form-group.form-lg
							label.control-label City
							.controls
								input.form-control(id="city" name="city" type="text" placeholder="City" value=city)
								p.help-block City, town, etc.
						.form-group.form-lg
							label.control-label State / Province / Region
							.controls
								- console.log("+++jade+++");
								- console.log(state);
							select.form-control(name='state')
								option(value='', selected=(state == undefined)) Select a State
								option(value='AL', selected=(state == 'AL')) Alabama
								option(value='AK', selected=(state == 'AK')) Alaska
								option(value='AZ', selected=(state == 'AZ')) Arizona
								option(value='AR', selected=(state == 'AR')) Arkansas
								option(value='CA', selected=(state == 'CA')) California
								option(value='CO', selected=(state == 'CO')) Colorado
								option(value='CT', selected=(state == 'CT')) Connecticut
								option(value='DE', selected=(state == 'DE')) Delaware
								option(value='DC', selected=(state == 'DC')) District Of Columbia
								option(value='FL', selected=(state == 'FL')) Florida
								option(value='GA', selected=(state == 'GA')) Georgia
								option(value='HI', selected=(state == 'HI')) Hawaii
								option(value='ID', selected=(state == 'ID')) Idaho
								option(value='IL', selected=(state == 'IL')) Illinois
								option(value='IN', selected=(state == 'IN')) Indiana
								option(value='IA', selected=(state == 'IA')) Iowa
								option(value='KS', selected=(state == 'KS')) Kansas
								option(value='KY', selected=(state == 'KY')) Kentucky
								option(value='LA', selected=(state == 'LA')) Louisiana
								option(value='ME', selected=(state == 'ME')) Maine
								option(value='MD', selected=(state == 'MD')) Maryland
								option(value='MA', selected=(state == 'MA')) Massachusetts
								option(value='MI', selected=(state == 'MI')) Michigan
								option(value='MN', selected=(state == 'MN')) Minnesota
								option(value='MS', selected=(state == 'MS')) Mississippi
								option(value='MO', selected=(state == 'MO')) Missouri
								option(value='MT', selected=(state == 'MT')) Montana
								option(value='NE', selected=(state == 'NE')) Nebraska
								option(value='NV', selected=(state == 'NV')) Nevada
								option(value='NH', selected=(state == 'NH')) New Hampshire
								option(value='NJ', selected=(state == 'NJ')) New Jersey
								option(value='NM', selected=(state == 'NM')) New Mexico
								option(value='NY', selected=(state == 'NY')) New York
								option(value='NC', selected=(state == 'NC')) North Carolina
								option(value='ND', selected=(state == 'ND')) North Dakota
								option(value='OH', selected=(state == 'OH')) Ohio
								option(value='OK', selected=(state == 'OK')) Oklahoma
								option(value='OR', selected=(state == 'OR')) Oregon
								option(value='PA', selected=(state == 'PA')) Pennsylvania
								option(value='RI', selected=(state == 'RI')) Rhode Island
								option(value='SC', selected=(state == 'SC')) South Carolina
								option(value='SD', selected=(state == 'SD')) South Dakota
								option(value='TN', selected=(state == 'TN')) Tennessee
								option(value='TX', selected=(state == 'TX')) Texas
								option(value='UT', selected=(state == 'UT')) Utah
								option(value='VT', selected=(state == 'VT')) Vermont
								option(value='VA', selected=(state == 'VA')) Virginia
								option(value='WA', selected=(state == 'WA')) Washington
								option(value='WV', selected=(state == 'WV')) West Virginia
								option(value='WI', selected=(state == 'WI')) Wisconsin
								option(value='WY', selected=(state == 'WY')) Wyoming
						.form-group.form-sm
							label.control-label Zip Code
							.controls
								input.form-control(id="zip" name="zip" type="text" placeholder="Zip Code" value=zip)
								.help-block
						.form-group.form-sm
							label.control-label Date of next delivery (this will be your first delivery if you are just signing up)
							.controls
								input.form-control(type='text', name='mdate', id='datepicker' value=(nextDelivery != undefined ? nextDelivery : ''))

				input.btn.btn-primary.btn-lg(type="submit", name="submit" id="delivery-payment")
